body {
    --nav-background-color: #a1c4fd;
    --text-color: #34495e;
    --color1: #EC3E27;
    --color2: #fd79a8;
    --color3: #0984e3;
    --color4: #00b894;
    --color5: #fdcb6e;
    --color6: #e056fd;
    --color7: #F97F51;
    --color8: #BDC581;
    --color1-font1: #0078d4;
}

.top {
    height:50px;
    width:100%;
    background-color:var(--nav-background-color);
}